<%- include("header") %>
    <div class="chapter">
        <h3 class="title">You have reached the chapters limit.</h3>
        <p class="content">Please delete one of the existing to continue.</p>
    </div>

<%- include("footer") %>