<%- include("header") %>

<section class="about-box">
    <a href="https://www.instagram.com/basher_207/" class="logo"><img src="/imgs/inst.png" alt="instagram logo"></a>
    <a href="https://github.com/basher-207" class="logo"><img src="/imgs/github.png" alt="github logo" ></a>
    <a href="https://www.linkedin.com/in/basher207/" class="logo"><p class="linkedin-logo">in</p></a>
</section>
<p class="about-p">This site was created while taking an online Udemy course.<br>Here you can create, edit and delete chapters. It can be used for diaries, blogs, etc.<br>Technologies: NodeJS, EJS (also Html and CSS).</p>



<%- include("footer") %>