<footer><a href="https://github.com/basher-207" class="footer-p">©basher207_2023</a></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> <!--  JavaScript -->
<script src="/index.js"></script> <!--  JavaScript -->
</body>
</html>